@use '../../styles/global.scss' as *;

.main-layout {
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;

  .outlet-container {
    flex: 1 1 auto;
    min-height: 0; /* IMPORTANT: allow child to be smaller than content */
    overflow: auto;
    width: 100%;
    margin-bottom: calc(84px + env(safe-area-inset-bottom, 0px));
    padding: $spacing-5;
  }
}
