@use '../../styles/global.scss' as *;

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;

  .login-container {
    width: 330px;
    padding: 20px;
    margin: 50px auto;
    height: 300px;
    background-color: $color-bg-card;
    border-radius: $radius-md;
    text-align: center;

    .login-btn-container {
      display: flex;

      .login-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-4;
        margin: 80px auto;
        width: 100%;
      }
    }
  }
}
