@use '../../styles/global.scss' as *;

.recipe-details {
  width: 100%;

  .recipe-image-wrapper {
    position: relative;

    .recipe-image-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $radius-lg;
      background: linear-gradient(
        180deg,
        rgba($color-bg-card, 0) 70%,
        rgba($color-bg-card, 1) 100%
      );
    }

    .recipe-image {
      width: 100%;
      border-radius: $radius-lg;
    }

    .recipe-title {
      position: absolute;
      bottom: $spacing-2;
      left: $spacing-3;
    }
  }

  .divider {
    margin: $spacing-4;
    background-color: $color-text-secondary;
    opacity: 0.3;
  }

  .category-box {
    display: inline-flex;
    gap: $spacing-1;
    width: fit-content;
    padding: $spacing-1;
    border: 1px solid;
    font-size: 12px;
    align-items: center;
    border-radius: $radius-md;
  }

  .action-row {
    display: flex;
    gap: $spacing-3;
    align-items: center;
    justify-content: space-around;
    margin-top: $spacing-3;
  }

  .portions-container {
    background-color: $color-bg-card;
    padding: $spacing-2;
    border-radius: $radius-md;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-3;

    .portions-toggler {
      background-color: $color-bg-card-light;
      border-radius: $radius-md;
      padding: 6px;
    }
  }

  .time-container {
    display: inline-flex;
    gap: $spacing-3;

    .time-box {
      display: inline-flex;
      gap: $spacing-2;
    }
  }

  .last-update {
    font-size: 12px;
    margin-top: $spacing-2;
  }

  .container-heading {
    margin-bottom: $spacing-3;
  }

  .tags-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    margin: 24px 0;
  }
}
