@use '../../styles/global.scss' as *;

.bottom-tab-bar {
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 74px;
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid $color-neutral;
  background-color: $color-bg-card;

  .nav-items {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;

    .nav-item {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-link {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: $spacing-2;

        .nav-icon,
        span {
          opacity: 0.6;
        }

        &.active {
          .nav-icon,
          span {
            opacity: 1;
          }
        }

        .user-avatar {
          height: 28px;
          width: 28px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          overflow: hidden;
        }

        span {
          color: $color-text-primary;
          font-size: $size-xsmall;
        }
      }
    }

    .fab {
      position: relative;

      .add-recipe-btn-wrapper {
        padding: $spacing-3;
        background-color: $color-bg-main;
        border-radius: 50%;
        padding: 12px;
        position: absolute;
        bottom: $spacing-3;
      }
    }
  }
}
