@use '../../../styles/global.scss' as *;

.recipin-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: $spacing-3 $spacing-4;
  color: $color-text-primary;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all $transition-fast;
  user-select: none;
  background-color: $color-neutral;

  &__square {
    border-radius: $radius-sm;
  }

  &__round {
    border-radius: 50%;
    aspect-ratio: 1;
  }

  &__primary {
    background-color: $color-primary;
  }

  &__secondary {
    border: 1px solid $color-primary;
    color: $color-primary;
  }

  &__loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;
  }

  &__danger {
    background-color: $color-error;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
