@use '../../../styles/global.scss' as *;

.ingredients-wrapper {
  .ingredient-container {
    margin-bottom: $spacing-4;

    .ingr-row {
      display: inline-flex;
      width: 100%;
      gap: 12px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $spacing-3;

      .unit-select {
        min-width: 150px;
      }
    }
  }
}
