@use '../../../styles/global.scss' as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
}

.input-row {
  width: 100%;
  position: relative;

  .input-prefix {
    position: absolute;
    left: 14px;
    top: 14px;
  }

  .input-field {
    width: 100%;
    padding: $spacing-4 $spacing-5;
    background-color: $color-neutral;
    border: 1px solid $color-bg-card-light;
    border-radius: $radius-lg;
    font-size: 1rem;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border-color: $color-primary;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
    }

    &.input-error {
      border-color: #e53935;
    }
  }

  .input-with-prefix {
    padding-left: 50px;
  }
}

.input-error-message {
  color: #e53935;
  font-size: 0.75rem;
}
