@use '../../styles/global.scss' as *;

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $spacing-8;

  .user-avatar {
    border-radius: 50%;
  }

  .my-name {
    margin-top: $spacing-3;
  }

  .user-actions {
    margin-top: $spacing-5;
    width: 100%;

    .import {
      width: 100%;
      height: 65px;
      background-color: $color-bg-card;
      border-radius: $radius-lg;
      display: flex;
      align-items: center;
      justify-content: center;

      .import-link {
        color: $color-text-primary;
      }
    }
  }
}
