@use '../../styles/global.scss' as *;

.import-page {
  width: 100%;

  .import-textarea {
    width: 100%;
    height: 550px;
    font-family: 'monospace';
  }

  .button-container {
    margin-top: $spacing-5;

    .import-btn {
      width: 100%;
    }
  }

  .log-content {
    white-space: pre-wrap;
    margin-top: $spacing-3;
  }
}
