@use '../../../styles/global.scss' as *;

.card-loading-wrapper {
  display: grid;
  width: 100%;
  gap: $spacing-4;

  .card-loading {
    width: 100%;
    height: 170px;
    border-radius: $radius-md;
    background-color: $color-bg-card;
    display: flex;
    width: 100%;

    .card-loading-img {
      background: linear-gradient(
        90deg,
        $color-bg-card,
        $color-neutral,
        $color-bg-card-light,
        $color-bg-card
      );
      animation: gradient-move 2s linear infinite;
      background-size: 300% 100%;
      height: 170px;
      width: 170px;
      border-radius: $radius-md;
    }

    .card-loading-content {
      padding: $spacing-3;
      display: grid;
      gap: $spacing-4;
      width: 200px;

      .content-row {
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: linear-gradient(
          90deg,
          $color-bg-card,
          $color-neutral,
          $color-bg-card-light,
          $color-bg-card
        );
        animation: gradient-move 2s linear infinite;
        background-size: 300% 100%;
      }
    }
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
