@use '../../styles/global.scss' as *;

.chips-container {
  width: 100%;
  overflow-x: hidden;

  .chip-type-label {
    font-size: $size-xsmall;
    font-weight: bold;
  }

  .chip-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: $spacing-2;
    padding: $spacing-2 0;
    margin-bottom: $spacing-3;

    .chip {
      padding: $spacing-2 $spacing-3;
      background-color: $color-bg-card;
      border-radius: $radius-md;
      color: $color-text-secondary;
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 14px;

      &__active {
        background-color: $color-primary-dark;
        color: $color-text-primary;
      }
    }
  }
}
