@use '../../styles/global.scss' as *;

.favorite-card {
  // width: 250px;
  // background-color: $color-bg-card;
  border-radius: $radius-md;
  position: relative;

  .favorite-img {
    width: 220px;
    // border-radius: $radius-md;
  }

  .favorite-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: $spacing-3;

    .fav-rec-title {
      font-size: 14px;
    }

    .fav-rating-container {
      margin-top: $spacing-2;
    }
  }
}
