@use '../../../styles/global.scss' as *;

.spinner__page {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: $color-bg-main;
  z-index: 9999;
}

.lds-dual-ring {
  display: inline-block;
  width: 150px;
  height: 150px;

  &:after {
    content: ' ';
    display: block;
    width: 140px;
    height: 140px;
    margin: 1px;
    border-radius: 50%;
    border: 20px solid $color-primary;
    border-color: $color-primary transparent $color-primary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  &__local {
    width: 30px;
    height: 30px;

    &::after {
      width: 25px;
      height: 25px;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
