@use '../../styles/global.scss' as *;

.library-contaier {
  width: 100%;
  overflow-x: hidden;

  .tags-container {
    margin-top: $spacing-4;
  }

  .favorites-list {
    margin-top: $spacing-4;

    .recipes-list {
      display: flex;
      gap: $spacing-3;
      flex-wrap: nowrap;
      overflow-x: auto;

      -webkit-overflow-scrolling: touch;
      padding-bottom: $spacing-2; // space for scrollbar (optional)
      scroll-snap-type: x mandatory;
    }

    .recipes-list > * {
      flex: 0 0 135px; // no grow, no shrink, 135px basis
      min-width: 135px; // belt-and-suspenders
      max-width: 135px;
      scroll-snap-align: start; // optional
    }
  }

  .all-recipes-list {
    margin-top: $spacing-8;

    h3 {
      margin-bottom: $spacing-3;
    }
    .recipes-list {
      display: grid;
      width: 100%;
      gap: $spacing-4;
    }
  }
}
