@use '../../styles/global.scss' as *;

.library-contaier {
  width: 100%;
  overflow-x: hidden;

  .tags-container {
    margin-top: $spacing-4;
  }

  .favorites-list {
    margin-top: $spacing-4;

    .recipes-list {
      display: flex;
      gap: $spacing-3;
      flex-wrap: nowrap;
      overflow-x: auto;

      -webkit-overflow-scrolling: touch;
      padding-bottom: $spacing-2; // space for scrollbar (optional)
      scroll-snap-type: x mandatory;
    }
  }

  .libary-heading {
    margin-bottom: $spacing-3;
  }

  .all-recipes-list {
    margin-top: $spacing-8;

    .recipes-list {
      display: grid;
      width: 100%;
      gap: $spacing-4;
    }
  }
}
