@use '../../styles/global.scss' as *;

.library-contaier {
  width: 100%;
  overflow-x: hidden;

  .library-filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;

    .search-row {
      display: inline-flex;
      width: 100%;
      align-items: center;
      gap: $spacing-4;
    }

    .selected-filters-container {
      display: flex;
      gap: $spacing-2;
      align-items: center;

      .selected-filter {
        display: inline-flex;
        background-color: $color-primary-dark;
        border-radius: $radius-md;

        .filter-remove {
          position: relative;
          width: 15px;

          .filter-remove-icon {
            position: absolute;
            left: 5px;
            top: 6px;
          }
        }
      }
    }
  }

  .tags-container {
    margin-top: $spacing-4;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;

    .category-filter {
      width: 350px;
    }
  }

  .favorites-list {
    margin-top: $spacing-4;

    .recipes-list {
      display: flex;
      gap: $spacing-3;
      flex-wrap: nowrap;
      overflow-x: auto;

      -webkit-overflow-scrolling: touch;
      padding-bottom: $spacing-2; // space for scrollbar (optional)
      scroll-snap-type: x mandatory;
    }
  }

  .libary-heading {
    margin-bottom: $spacing-3;
  }

  .all-recipes-list {
    margin-top: $spacing-8;

    .recipes-list {
      display: grid;
      width: 100%;
      gap: $spacing-4;
    }
  }

  .has-more-btn-wrapper {
    text-align: right;
    margin-top: $spacing-5;
  }
}
