@use '../../styles/global.scss' as *;

.create-recipe-page {
  display: flex;
  width: 100%;
  min-height: 75vh;
  flex-direction: column;
  gap: $spacing-4;

  .recipe-tabs-switcher {
    margin-bottom: $spacing-3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .recipe-tab {
      font-size: $size-xsmall;
      color: $color-text-secondary;
      position: relative;
      flex: 1;
      padding: 0.5rem 0;
      text-align: center;
      cursor: pointer;

      &__active {
        font-weight: 600;
        color: $color-text-primary;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 2rem; // same as w-8 (8 * 0.25rem = 2rem)
          height: 2px; // same as h-0.5 (0.125rem * 4 = 0.5rem)
          background-color: $color-primary;
          border-radius: 9999px; // full round ends
          transform: translateX(-50%);
        }
      }
    }
  }

  .recipes-tabs {
    position: relative;
    flex: 1;
  }

  .recipes-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-3;
  }
}
