@use '../../../styles/global.scss' as *;

.period-switcher {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: $spacing-1;
  margin: $spacing-3 auto;
  width: fit-content;
  // margin: auto;
  height: 55px;
  align-items: center;

  .period-toggler {
    height: 100%;
    aspect-ratio: 1;
    background-color: $color-bg-card;
    border-radius: $radius-lg;

    &__left {
      border-top-right-radius: $radius-md;
      border-bottom-right-radius: $radius-md;
    }

    &__right {
      border-top-left-radius: $radius-md;
      border-bottom-left-radius: $radius-md;
    }
  }

  .week-range {
    position: relative;
    width: 200px;
    background-color: $color-bg-card;
    border-radius: $radius-md;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .week-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -17px);
      width: max-content;
      font-size: 9px;
      font-weight: 200;
      color: $color-primary;
    }
  }
}
