@use '../../../styles/global.scss' as *;

.planner-week-table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border-right: 1px solid $color-bg-card;
    padding: $spacing-2;
    text-align: center;
    &:last-child {
      border-right: unset;
    }
  }

  th {
    border-bottom: 1px solid $color-bg-card;
    border-radius: 24px;
  }

  .week-heading {
    display: flex;
    flex-direction: column;
    color: $color-text-primary;

    .label-num {
      background-color: $color-bg-card;
      border-radius: 50%;
      margin-top: $spacing-2;
      font-size: 14px;
      font-weight: 300;
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .cell--has {
  //   font-weight: 700;
  // }

  // .cell--empty {
  //   opacity: 0.4;
  // }
}
